#### Libraries

In [ ]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,median_absolute_error,r2_score
from sklearn.utils import shuffle

import tensorflow as tf
import keras
import tensorflow.keras.metrics
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation , Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import MSE

In [ ]:
file_path_all = 'F:/dataset_all.xlsx'

In [ ]:
df_all = pd.read_excel(file_path_all)
df_all

In [ ]:
print(df_all.columns)

In [ ]:
df_all_norm = df_all.copy()

df_all_norm[['Lat','Lon','swe_real','era5','gldas','fldas','station_elevation'
        ]] = MinMaxScaler().fit_transform(df_all_norm[['Lat','Lon','swe_real','era5','gldas','fldas','station_elevation']])

df_all_norm

In [ ]:
y = df_all_norm['swe_real']
X = df_all_norm.drop(['Time','station_name','month','swe_real'], axis=1)

In [ ]:
X

In [ ]:
y

In [ ]:
def ann_auto(n1,n2,shape,n_epoch,X_in):
     
    global model, r_all,r2_all,rmse_all,mse_all,mae_all, r_test,r2_test,rmse_test,mse_test,mae_test, r_train,r2_train,rmse_train,mse_train,mae_train, r_val,r2_val,rmse_val,mse_val,mae_val
    
    
    if n2==0:
        model = Sequential([
            Dense(units=n1, input_shape=(shape,), activation='relu'),
            Dense(units=1)])
        
    else:
        model = Sequential([
            Dense(units=n1, input_shape=(shape,), activation='relu'),
            Dense(units=n2, input_shape=(shape,), activation='relu'),
            Dense(units=1)])

    
    model.compile(
            optimizer= 'Adam',
            loss = 'mean_squared_error',
            metrics = ['mean_squared_error'])
    
    model.fit(X_train,y_train,
         validation_data = (X_val , y_val),
         batch_size=10,
         epochs=n_epoch,
         verbose=0)
    
    
    y_pred_all = model.predict(X_in)
    y_arr = np.array(y)
    y_arr_pred_all  = y_pred_all.ravel()
    y_pd = pd.Series(y_arr)
    y_pd_pred_all = pd.Series(y_arr_pred_all)
    
    r_all = y_pd.corr(y_pd_pred_all)
    r2_all = r2_score(y, y_pred_all)
    rmse_all = mean_squared_error(y, y_pred_all, squared=False)
    mse_all = mean_squared_error(y, y_pred_all) 
    mae_all = median_absolute_error(y, y_pred_all)
    
    
        
    y_pred_test = model.predict(X_test)
    y_arr_test = np.array(y_test)
    y_arr_pred_test  = y_pred_test.ravel()
    y_pd_test = pd.Series(y_arr_test)
    y_pd_pred_test = pd.Series(y_arr_pred_test)
    
    r_test = y_pd_test.corr(y_pd_pred_test)
    r2_test = r2_score(y_test, y_pred_test)
    rmse_test = mean_squared_error(y_test, y_pred_test, squared=False)
    mse_test = mean_squared_error(y_test, y_pred_test)
    mae_test = median_absolute_error(y_test, y_pred_test)

        
        
    y_pred_train = model.predict(X_train)
    y_arr_train = np.array(y_train)
    y_arr_pred_train  = y_pred_train.ravel()
    y_pd_train = pd.Series(y_arr_train)
    y_pd_pred_train = pd.Series(y_arr_pred_train)
    
    r_train = y_pd_train.corr(y_pd_pred_train)
    r2_train = r2_score(y_train, y_pred_train)
    rmse_train = mean_squared_error(y_train, y_pred_train, squared=False)
    mse_train = mean_squared_error(y_train, y_pred_train)
    mae_train = median_absolute_error(y_train, y_pred_train)

    
    
    y_pred_val = model.predict(X_val)
    y_arr_val = np.array(y_val)
    y_arr_pred_val  = y_pred_val.ravel()
    y_pd_val = pd.Series(y_arr_val)
    y_pd_pred_val = pd.Series(y_arr_pred_val)
    
    r_val = y_pd_val.corr(y_pd_pred_val)
    r2_val = r2_score(y_val, y_pred_val)
    rmse_val = mean_squared_error(y_val, y_pred_val, squared=False)    
    mse_val = mean_squared_error(y_val, y_pred_val)
    mae_val = median_absolute_error(y_val, y_pred_val)

    
    keras.backend.clear_session()
    
    return r_all,r2_all,rmse_all,mse_all,mae_all, r_test,r2_test,rmse_test,mse_test,mae_test, r_train,r2_train,rmse_train,mse_train,mae_train, r_val,r2_val,rmse_val,mse_val,mae_val

In [ ]:
group_list = ['N1','N2','epoch']
mean_list = ['r_all','r2_all','rmse_all','mse_all','mae_all',
             'r_test','r2_test','rmse_test','mse_test','mae_test',
             'r_train','r2_train','rmse_train','mse_train','mae_train',
             'r_val','r2_val','rmse_val','mse_val','mae_val']

# No1

In [ ]:
columns_1 = ['era5','gldas','fldas']

In [ ]:
X1 = X[columns_1]
X1

In [ ]:
df_out_1 = pd.DataFrame(columns = ['N1', 'N2', 'epoch',
                             'r_all','r2_all','rmse_all','mse_all','mae_all',
                             'r_test','r2_test','rmse_test','mse_test','mae_test',
                             'r_train','r2_train','rmse_train','mse_train','mae_train',
                             'r_val','r2_val','rmse_val','mse_val','mae_val'])
df_out_1

In [ ]:
for i in range(5,51,5):
    for j in range(0,61,5):
        for epoch_no in [100]:
                for iter in range(10):
                    ann_auto(i,j,len(X1.columns),epoch_no,X1)
                    df_out_1.loc[len(df_out_1)] = [i, j, epoch_no,
                                      r_all, r2_all, rmse_all, mse_all, mae_all,
                                      r_test, r2_test, rmse_test, mse_test,mae_test,
                                      r_train, r2_train, rmse_train, mse_train,mae_train,
                                      r_val, r2_val, rmse_val, mse_val,mae_val]
                    print('N1=',i," N2=",j," epoch=",epoch_no,' r=',r_all,' r2=',r2_all)

In [ ]:
df_mean_1 = df_out_1.groupby(group_list)[mean_list].mean().reset_index()

In [ ]:
df_out_1.to_excel("E:/ANN_all_1.xlsx",index=False)
df_mean_1.to_excel("E:/ANN_mean_1.xlsx",index=False)

# No2

In [ ]:
columns_2 = ['era5','gldas','fldas','station_elevation']

In [ ]:
X2 = X[columns_2]
X2

In [ ]:
df_out_2 = pd.DataFrame(columns = ['N1', 'N2', 'epoch',
                             'r_all','r2_all','rmse_all','mse_all','mae_all',
                             'r_test','r2_test','rmse_test','mse_test','mae_test',
                             'r_train','r2_train','rmse_train','mse_train','mae_train',
                             'r_val','r2_val','rmse_val','mse_val','mae_val'])
df_out_2

In [ ]:
for i in range(5,51,5):
    for j in range(0,61,5):
        for epoch_no in [100]:
                for iter in range(10):
                    ann_auto(i,j,len(X2.columns),epoch_no,X2)
                    df_out_2.loc[len(df_out_2)] = [i, j, epoch_no,
                                      r_all, r2_all, rmse_all, mse_all, mae_all,
                                      r_test, r2_test, rmse_test, mse_test,mae_test,
                                      r_train, r2_train, rmse_train, mse_train,mae_train,
                                      r_val, r2_val, rmse_val, mse_val,mae_val]
                    print('N1=',i," N2=",j," epoch=",epoch_no,' r=',r_all,' r2=',r2_all)

In [ ]:
df_mean_2 = df_out_2.groupby(group_list)[mean_list].mean().reset_index()

In [ ]:
df_out_2.to_excel("E:/ANN_all_2.xlsx",index=False)
df_mean_2.to_excel("E:/ANN_mean_2.xlsx",index=False)

# No3

In [ ]:
columns_3 = ['era5','gldas','fldas','station_elevation','T1','T2']

In [ ]:
X3 = X[columns_3]
X3

In [ ]:
df_out_3 = pd.DataFrame(columns = ['N1', 'N2', 'epoch',
                             'r_all','r2_all','rmse_all','mse_all','mae_all',
                             'r_test','r2_test','rmse_test','mse_test','mae_test',
                             'r_train','r2_train','rmse_train','mse_train','mae_train',
                             'r_val','r2_val','rmse_val','mse_val','mae_val'])
df_out_3

In [ ]:
for i in range(5,51,5):
    for j in range(0,61,5):
        for epoch_no in [100]:
                for iter in range(10):
                    ann_auto(i,j,len(X3.columns),epoch_no,X3)
                    df_out_3.loc[len(df_out_3)] = [i, j, epoch_no,
                                      r_all, r2_all, rmse_all, mse_all, mae_all,
                                      r_test, r2_test, rmse_test, mse_test,mae_test,
                                      r_train, r2_train, rmse_train, mse_train,mae_train,
                                      r_val, r2_val, rmse_val, mse_val,mae_val]
                    print('N1=',i," N2=",j," epoch=",epoch_no,' r=',r_all,' r2=',r2_all)

In [ ]:
df_mean_3 = df_out_3.groupby(group_list)[mean_list].mean().reset_index()

In [ ]:
df_out_3.to_excel("E:/ANN_all_3.xlsx",index=False)
df_mean_3.to_excel("E:/ANN_mean_3.xlsx",index=False)

# No4

In [ ]:
columns_4 = ['era5','gldas','fldas','station_elevation','Lat','Lon']

In [ ]:
X4 = X[columns_4]
X4

In [ ]:
df_out_4 = pd.DataFrame(columns = ['N1', 'N2', 'epoch',
                             'r_all','r2_all','rmse_all','mse_all','mae_all',
                             'r_test','r2_test','rmse_test','mse_test','mae_test',
                             'r_train','r2_train','rmse_train','mse_train','mae_train',
                             'r_val','r2_val','rmse_val','mse_val','mae_val'])
df_out_4

In [ ]:
for i in range(5,51,5):
    for j in range(0,61,5):
        for epoch_no in [100]:
                for iter in range(10):
                    ann_auto(i,j,len(X4.columns),epoch_no,X4)
                    df_out_4.loc[len(df_out_4)] = [i, j, epoch_no,
                                      r_all, r2_all, rmse_all, mse_all, mae_all,
                                      r_test, r2_test, rmse_test, mse_test,mae_test,
                                      r_train, r2_train, rmse_train, mse_train,mae_train,
                                      r_val, r2_val, rmse_val, mse_val,mae_val]
                    print('N1=',i," N2=",j," epoch=",epoch_no,' r=',r_all,' r2=',r2_all)

In [ ]:
df_mean_4 = df_out_4.groupby(group_list)[mean_list].mean().reset_index()

In [ ]:
df_out_4.to_excel("E:/ANN_all_4.xlsx",index=False)
df_mean_4.to_excel("E:/ANN_mean_4.xlsx",index=False)

# No5

In [ ]:
columns_5 = ['era5','gldas','fldas','station_elevation','Lat','Lon','T1','T2']

In [ ]:
X5 = X[columns_5]
X5

In [ ]:
df_out_5 = pd.DataFrame(columns = ['N1', 'N2', 'epoch',
                             'r_all','r2_all','rmse_all','mse_all','mae_all',
                             'r_test','r2_test','rmse_test','mse_test','mae_test',
                             'r_train','r2_train','rmse_train','mse_train','mae_train',
                             'r_val','r2_val','rmse_val','mse_val','mae_val'])
df_out_5

In [ ]:
for i in range(5,51,5):
    for j in range(0,61,5):
        for epoch_no in [100]:
                for iter in range(10):
                    ann_auto(i,j,len(X5.columns),epoch_no,X5)
                    df_out_5.loc[len(df_out_5)] = [i, j, epoch_no,
                                      r_all, r2_all, rmse_all, mse_all, mae_all,
                                      r_test, r2_test, rmse_test, mse_test,mae_test,
                                      r_train, r2_train, rmse_train, mse_train,mae_train,
                                      r_val, r2_val, rmse_val, mse_val,mae_val]
                    print('N1=',i," N2=",j," epoch=",epoch_no,' r=',r_all,' r2=',r2_all)

In [ ]:
df_mean_5 = df_out_5.groupby(group_list)[mean_list].mean().reset_index()

In [ ]:
df_out_5.to_excel("E:/ANN_all_5.xlsx",index=False)
df_mean_5.to_excel("E:/ANN_mean_5.xlsx",index=False)

# No6

In [ ]:
columns_6 = ['era5','gldas','fldas','station_elevation',
             'ahar','amame','chuiak','dokhani','dukpol','dyzan(khachire)','garmadar','gelinak','ghasr',
             'halichaie','haranj','jostan','kend','lavasan','purmoghani','shemshak','sorhe','zidasht']

In [ ]:
X6 = X[columns_6]
X6

In [ ]:
df_out_6 = pd.DataFrame(columns = ['N1', 'N2', 'epoch',
                             'r_all','r2_all','rmse_all','mse_all','mae_all',
                             'r_test','r2_test','rmse_test','mse_test','mae_test',
                             'r_train','r2_train','rmse_train','mse_train','mae_train',
                             'r_val','r2_val','rmse_val','mse_val','mae_val'])
df_out_6

In [ ]:
for i in range(5,51,5):
    for j in range(0,61,5):
        for epoch_no in [100]:
                for iter in range(10):
                    ann_auto(i,j,len(X6.columns),epoch_no,X6)
                    df_out_6.loc[len(df_out_6)] = [i, j, epoch_no,
                                      r_all, r2_all, rmse_all, mse_all, mae_all,
                                      r_test, r2_test, rmse_test, mse_test,mae_test,
                                      r_train, r2_train, rmse_train, mse_train,mae_train,
                                      r_val, r2_val, rmse_val, mse_val,mae_val]
                    print('N1=',i," N2=",j," epoch=",epoch_no,' r=',r_all,' r2=',r2_all)

In [ ]:
df_mean_6 = df_out_6.groupby(group_list)[mean_list].mean().reset_index()

In [ ]:
df_out_6.to_excel("E:/ANN_all_6.xlsx",index=False)
df_mean_6.to_excel("E:/ANN_mean_6.xlsx",index=False)

# No7

In [ ]:
columns_7 = ['era5','gldas','fldas','station_elevation','Lat','Lon','T1','T2',
             'ahar','amame','chuiak','dokhani','dukpol','dyzan(khachire)','garmadar','gelinak','ghasr',
             'halichaie','haranj','jostan','kend','lavasan','purmoghani','shemshak','sorhe','zidasht']

In [ ]:
X7 = X[columns_7]
X7

In [ ]:
df_out_7 = pd.DataFrame(columns = ['N1', 'N2', 'epoch',
                             'r_all','r2_all','rmse_all','mse_all','mae_all',
                             'r_test','r2_test','rmse_test','mse_test','mae_test',
                             'r_train','r2_train','rmse_train','mse_train','mae_train',
                             'r_val','r2_val','rmse_val','mse_val','mae_val'])
df_out_7

In [ ]:
for i in range(5,51,5):
    for j in range(0,61,5):
        for epoch_no in [100]:
                for iter in range(10):
                    ann_auto(i,j,len(X7.columns),epoch_no,X7)
                    df_out_7.loc[len(df_out_7)] = [i, j, epoch_no,
                                      r_all, r2_all, rmse_all, mse_all, mae_all,
                                      r_test, r2_test, rmse_test, mse_test,mae_test,
                                      r_train, r2_train, rmse_train, mse_train,mae_train,
                                      r_val, r2_val, rmse_val, mse_val,mae_val]
                    print('N1=',i," N2=",j," epoch=",epoch_no,' r=',r_all,' r2=',r2_all)

In [ ]:
df_mean_7 = df_out_7.groupby(group_list)[mean_list].mean().reset_index()

In [ ]:
df_out_7.to_excel("E:/ANN_all_7.xlsx",index=False)
df_mean_7.to_excel("E:/ANN_mean_7.xlsx",index=False)